.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .footer-up{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.footer .footer-up h1{
    color: rgb(76, 252, 15);
    font-size: 60px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.footer .footer-down{
    width: 30%;
    border: 1px solid rgb(76, 252, 15);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 700px;
}
.footer-down-child{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 40px;
}
.footer-down-child textarea{
    resize: none;
    width: 100%;
    height: 280px;
    color: rgb(76, 252, 15);
    border-radius: 15px;
    border: none;
    background: none;
    outline: none;
    outline: 1.5px solid rgb(76, 252, 15);
    padding-left: 10px;
    padding-top: 5px;

}
.footer-down-child input{
    height: 40px;
    border-radius: 100px;
    border: none;
    background: none;
    outline: none;
    outline: 1.5px solid rgb(76, 252, 15);
    padding-left: 10px;
    color: rgb(76, 252, 15);

}
.footer-down-child label{
    color: rgb(76, 252, 15);
    font-size: 18px;
}
.footer-down-child input:focus{
    border: 1.7px solid rgb(76, 252, 15);
}
.footer-down-child button{
    width: 40%;
    height: 50px;
    cursor: pointer;
    background-color: rgb(76, 252, 15);
    border: none;
    font-size: 18px;
    border-radius: 100px;
    align-self: flex-end;
}
.footer-down-child button:hover{
    background-color: rgb(17, 17, 17);
    border: 1.5px solid rgb(76, 252, 15);
    color: rgb(76, 252, 15);
    transition: 0.75s;
}
@media screen and (max-width:1120px) {
.footer .footer-down{
    margin-left: 500px;
    width: 40%;
}
}
@media screen and (max-width:855px) {
.footer .footer-down{
    margin-left: 200px;
    width: 60%;
}
}
@media screen and (max-width:530px) {
.footer .footer-down{
    margin-left: 0;
    width: 100%;
}
}
@media screen and (max-width:415px) {
    .footer .footer-up h1{
        margin-left: 0;
        font-size: 50px;
    }
}

