@font-face {
    font-family: myfont;
    src: url(../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
.main-maindiv{
    width: 100%;
    border-bottom: 1px solid rgb(76, 252, 15);
    margin-top: -60px;
    display: flex;
    flex-wrap: wrap;
}
.main-right{
    width: 50%;
    min-width: 450px;
    height: 75vh;
    background-image: url(../images/first-guy.jpeg);
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}
.main-left{
    width: 50%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.main-left .main-left-parent{
    width: 450px;
    min-width: 450px;
    overflow: hidden;
}
.main-left .main-left-parent .main-left-child1{
    width: 100%;
    height: 45px;
    display: flex;
    gap: 7px;
}
.main-left .main-left-parent .main-left-child1 .main-left-child1-left{
    width: 390px;
    height: 45px;
    border: 1.5px solid white;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideinleft 2s forwards ;
}
.main-left .main-left-parent .main-left-child1 .main-left-child1-left p{
    font-size: 19px;
    color: rgb(76, 252, 15);
}
.main-left .main-left-parent .main-left-child1 .main-left-child1-right{
    width: 45px;
    height: 45px;
    background-image: url("../images/sircle1.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 11px;
    animation: slideinright 2s forwards;
}
.main-left .main-left-parent .main-left-child2{
    width: 100%;
    height: 230px;
    border: 1.5px solid white;
    border-radius: 11px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slidedown 2s forwards;
}
.main-left .main-left-parent .main-left-child2 h1{
    font-size: 60px;
    text-align: center;
    color:  rgb(76, 252, 15);
}
.main-left .main-left-parent .main-left-child3{
    width: 100%;
    height: 130px;
    margin-top: 5px;
    display: flex;
    gap: 5px;
}
.main-left .main-left-parent .main-left-child3 .main-left-child3-left{
    width: 40%;
    height: 130px;
    background-image: url("../images/pointer.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    animation: slideinleft 2s forwards ;
}
.main-left .main-left-parent .main-left-child3 .main-left-child3-right{
    width: 58%;
    height: 130px;
    border: 1.5px solid white;
    border-radius: 11px;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideinright 2s forwards;
}
.main-left .main-left-parent .main-left-child3 .main-left-child3-right p{
    text-align: center;
    font-size: 18px;
    color: rgb(76, 252, 15);
}
.main-left .main-left-parent .main-left-child3 .main-left-child3-right .main-left-child3-right-a{
    width: 140px;
    height: 40px;
    background-color: rgb(76, 252, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-top: 15px;
}
.main-left .main-left-parent .main-left-child3 .main-left-child3-right .main-left-child3-right-a:hover{
    background-color: rgb(17, 17, 17);
    border: 1.5px solid rgb(76, 252, 15);
    transition: 0.75s;
}
.main-left .main-left-parent .main-left-child3 .main-left-child3-right .main-left-child3-right-a a:hover{
    color: rgb(76, 252, 15);
    transition: 0.75s;
}
.section1{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-div{
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section-div h1{
    font-size: 65px;
    margin-bottom: 40px;
    color: rgb(76, 252, 15);
}
.section1:hover .section-div h1{
    animation: panimation 2s forwards;
}
.section-div p{
    text-align: center;
    width: 870px;
    margin-bottom: 40px;
    color: rgb(76, 252, 15);
    font-size: 18px;
}
.section1:hover .section-div p{
    animation: panimation 2s forwards;
}
.section-div span{
    margin-bottom: 20px;
    color: rgb(76, 252, 15);
    font-size: 22px;
}
.section1:hover .section-div span{
    animation: panimation 2s forwards;
}
.section-div .section-a{
    width: 150px;
    height: 50px;
    background-color: rgb(76, 252, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.section1:hover .section-div .section-a{
    animation: panimation 2s forwards;

}
.section-div .section-a:hover{
    background-color: rgb(17, 17, 17);
    border: 1.5px solid rgb(76, 252, 15);
    transition: 0.75s;
}
.section-div .section-a a:hover{
    color: rgb(76, 252, 15);
    transition: 0.75s;
}
.section1 .section-img{
    width: 100%;
    height: 60vh;
    border-top: 1px solid rgb(76, 252, 15);
    border-bottom: 1px solid rgb(76, 252, 15);
    background-color: antiquewhite;
    background-image: url(../images/second-guy.png);
    background-position: center;
    background-size: cover;
}


.section2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.section2 .section2-left-mainh1 {
    height: 80px;
    font-size: xx-large;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section2 .section2-left-mainh1 h1{
    color: rgb(76, 252, 15);
}

.section2 .section2-top{
    width: 100%;
    height: 22vh;
    display: flex;
    flex-wrap: wrap;
}
.section2 .section2-top .section2-top-left{
    width: 50%;
    min-width: 370px;
    border: 0.5px solid rgb(76, 252, 15);
    display: flex;
    flex-grow: 1;
}
.section2 .section2-top .section2-top-left .section2-left-child1-img{
    width: 55px;
    height: 55px;
    background-image: url(../images/circle2.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 50px;
    margin-top: 30px;
}
.section2 .section2-top .section2-top-left .section2-left-child1-h1 h1{
    margin-top: 30px;
    font-size: 40px;
    margin-left: 20px;
    width: 240px;
    color: rgb(76, 252, 15);
}
.section2 .section2-top .section2-top-right{
    width: 50%;
    min-width: 320px;
    height: 22vh;
    border: 1px solid rgb(76, 252, 15);
    display: flex;
    flex-grow: 1;
}
.section2 .section2-top .section2-top-right .section2-top-right-p{
    width: 250px;
    height: 40px;
    margin-top: 40px;
    margin-left: 40px;

}
.section2 .section2-top .section2-top-right .section2-top-right-p p{
    color: rgb(76, 252, 15);
}
.section2:hover .section2-top .section2-top-right .section2-top-right-p p{
    animation: panimation 1.5s forwards;
}
.section2:hover .section2-top .section2-top-left .section2-left-child1-h1 h1{
    animation: panimation 1.5s forwards;

}
.section2:hover .section2-left-mainh1 h1{
    animation: panimation 1.5s forwards;

}
.section3{
    width: 100%;
}
.section3 .section3-h1{
    font-size: xx-large;
    margin-left: 50px;
    margin-bottom: 10px;
}
.section3 .section3-h1 h1{
    color: rgb(76, 252, 15);
}
.section3 .section3-parent{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
}
.section3 .section3-child1{
    width: 33.2%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    flex-grow: 1;
    border-top: 1px solid rgb(76, 252, 15);
    border-bottom: 1px solid rgb(76, 252, 15);
    border-left: 1px solid rgb(76, 252, 15);
    padding: 15px;
}
.section3 .section3-child1 .section3-child1-child{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.section3 .section3-child1 .section3-child1-child .section3-child1-child-up p{
    color: rgb(76, 252, 15);
    font-size: 18px;
}
.section3:hover .section3-child1 .section3-child1-child .section3-child1-child-up p{
    animation: panimation 1.5s forwards;
}

.section3 .section3-child1 .section3-child1-child .section3-child1-child-down p{
    color: rgb(76, 252, 15);
}
.section3:hover .section3-child1 .section3-child1-child .section3-child1-child-down p{
    animation: panimation 1.5s forwards;
}
.section3:hover .section3-h1{
        animation: panimation 1.5s forwards;

}
.section4{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section4 .section4-parent{
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid rgb(76, 252, 15);
    display: flex;
    justify-content: center;
}
.section4 .section4-parent .section4-child{
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section4 .section4-parent .section4-child h1{
    font-size: 80px;
    color: rgb(76, 252, 15);
    margin-bottom: 10px;
    text-align: center;
    min-width: 260px;
}
.section4 .section4-parent .section4-child p{
    font-size: 27px;
    min-width: 300px;
    color: rgb(76, 252, 15);
    text-align: center;
}
.section4:hover .section4-parent .section4-child h1{
    animation: panimation 1.5s forwards;
}
.section4:hover .section4-parent .section4-child p{
    animation: panimation 1.5s forwards;

}
.section4 .section4-parent:nth-child(2) h1{
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
}
.section4 .section4-parent:nth-child(2) p{
    font-size: 18px;
    text-align: center;
}
.section4 .section4-parent:nth-child(3) h1{
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
}
.section4 .section4-parent:nth-child(3) p{
    font-size: 18px;
    text-align: center;
}
.section4 .section4-parent:nth-child(4) h1{
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
}
.section4 .section4-parent:nth-child(4) p{
    font-size: 18px;
    text-align: center;
}
.section4 .section4-parent:nth-child(4){
    border-bottom: none;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .footer-up{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.footer .footer-up h1{
    color: rgb(76, 252, 15);
    font-size: 60px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.footer .footer-up p{
    color: rgb(76, 252, 15);
    font-size: 20px;
    margin-left: 50px;
}
.footer .footer-down{
    width: 45%;
    border: 1px solid rgb(76, 252, 15);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.footer-down-child{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 40px;
}
.footer-down-child textarea{
    resize: none;
    width: 100%;
    height: 280px;
    color: rgb(76, 252, 15);
    border-radius: 15px;
    border: none;
    background: none;
    outline: none;
    outline: 1.5px solid rgb(76, 252, 15);
    padding-left: 10px;
    padding-top: 5px;

}
.footer-down-child input{
    height: 40px;
    border-radius: 100px;
    border: none;
    background: none;
    outline: none;
    outline: 1.5px solid rgb(76, 252, 15);
    padding-left: 10px;
    color: rgb(76, 252, 15);

}
.footer-down-child label{
    color: rgb(76, 252, 15);
    font-size: 18px;
}
.footer-down-child input:focus{
    border: 1.7px solid rgb(76, 252, 15);
}
.footer-down-child button{
    width: 40%;
    height: 50px;
    cursor: pointer;
    background-color: rgb(76, 252, 15);
    border: none;
    font-size: 18px;
    border-radius: 100px;
    align-self: flex-end;
}
.footer-down-child button:hover{
    background-color: rgb(17, 17, 17);
    border: 1.5px solid rgb(76, 252, 15);
    color: rgb(76, 252, 15);
    transition: 0.75s;
}



@keyframes panimation {
    from{
        transform: translateY(50%);
        opacity: 0;

    }
    to{
        transform: translateY(0);
        opacity: 1;
    }   
}
@keyframes slideinleft {
    from{
        transform: translateX(-160%);
        opacity: 0;

    }
    to{
       transform: translateX(0);
       opacity: 1;
    }
}
@keyframes slideinright {
    from{
        transform: translateX(160%);
    }
    to{
       transform: translateX(0);
    }
    
}
@keyframes slidedown {
    from{
        transform: translateY(-150%);
    }
    to{
        transform: translateY(0);
    }
}



@media screen and (max-width:760px) {
    .section2 .section2-top .section2-top-left{
        border: none;
        min-width: 290px;
    }
    .section2 .section2-top .section2-top-right{
        border: none;
        min-width: 290px;

    }
    
}
@media screen and (max-width:944px) {
    .section4{
        margin-top: 40vh;
    }
}
@media screen and (max-width:620px) {
    .section4{
        margin-top: 80vh;
    }
}
@media screen and (max-width:890px) {
    .section-div p{
        width: auto;
        text-align: start;
    }
    .section-div{
        width: 100%;

}
}
@media screen and (max-width:470px) {
    .main-right{
        width: auto;
        min-width: 280px;
    }
    .main-left .main-left-parent{
        width: 280px;
        min-width: 280px;
    }
.main-left .main-left-parent .main-left-child1 .main-left-child1-right{
    width: 40px;
    height: 40px;
}
.main-left .main-left-parent .main-left-child1 .main-left-child1-left p{
    font-size: 15px;
}
.main-left .main-left-parent .main-left-child2 h1{
    font-size: 40px;
}
.main-left .main-left-parent .main-left-child3 .main-left-child3-left{
    display: none;
}
.main-left .main-left-parent .main-left-child3 .main-left-child3-right{
    width: 100%;
}
.main-left .main-left-parent .main-left-child1 .main-left-child1-left{
    width: 260px;
    height: 47px;
    padding: 20px;
}
.main-left .main-left-parent .main-left-child1 .main-left-child1-right{
    height: 47px;
    width: 47px;
}
}
@media screen and (max-width:415px) {
    .section3 .section3-h1{
        margin-left: 0;

    }
    .section3 .section3-h1 h1{
        font-size: 50px;
    }
    .footer .footer-up h1{
        margin-left: 0;
        font-size: 50px;
    }
    .footer .footer-up p{
        margin-left: 0;
    }


}
@media screen and (max-width: 390px) {
        .section2 .section2-left-mainh1 {
        margin-left: 0;
    }
    .section2 .section2-top .section2-top-left .section2-left-child1-img{
        margin-left: 0;
    }
    .section2 .section2-top .section2-top-left{
        width: 280px;
    }
    .section2 .section2-top .section2-top-left .section2-left-child1-h1 h1{
        font-size: 30px;
        width: 180px;
    }
    .section2 .section2-top .section2-top-right .section2-top-right-p{
        margin-left: 10px;
    }
    .section4 .section4-parent:nth-child(2) h1{
        font-size: 22px;
    }
    .section4 .section4-parent:nth-child(3) h1{
        font-size: 22px;
    }
    .section4 .section4-parent:nth-child(4) h1{
        font-size: 22px;
}

}
@media screen and (max-width:730px) {
    .footer{
        align-items: flex-start;
    }
    .footer .footer-down{
        width: 100%;
    }


}




