.section{
    width: 100%;
    height: 100vh;
    background-color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainsection{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mainsection nav ul li a{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}
.mainsection nav ul li a:hover{
    text-decoration: underline;
}
.twolines{
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    transform: rotate(45deg);
    cursor: pointer;

}
.twolines:hover{
    transform: rotate(0deg);
    transition: 0.5s;

}
.lines{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
#close{
    display: none;
}
.twolines .line1{
    height: 100%;
    width: 3px;
    background-color: black;
    position: absolute;
    left: 18px;
    border-radius: 500px;
}
.twolines .line2{
    height: 3px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 18px;
    border-radius: 500px;

}