
.section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.section1 .section1-left-mainh1 {
    height: 80px;
    font-size: xx-large;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section1 .section1-left-mainh1 h1{
    color: rgb(76, 252, 15);
}

.section1 .section1-top{
    width: 100%;
    height: 22vh;
    display: flex;
    flex-wrap: wrap;
}
.section1 .section1-top .section1-top-left{
    width: 50%;
    min-width: 370px;
    border: 0.5px solid rgb(76, 252, 15);
    display: flex;
    flex-grow: 1;
}
.section1 .section1-top .section1-top-left .section1-left-child1-img{
    width: 55px;
    min-width: 55px;
    height: 55px;
    background-image: url(../images/circle3.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 50px;
    margin-top: 30px;
    animation: opacity 3s forwards;
}
.section1 .section1-top .section1-top-left .section1-left-child1-h1 h1{
    margin-top: 30px;
    font-size: 40px;
    margin-left: 20px;
    width: 240px;
    color: rgb(76, 252, 15);
}
.section1 .section1-top .section1-top-right{
    width: 50%;
    min-width: 320px;
    height: 22vh;
    border: 1px solid rgb(76, 252, 15);
    display: flex;
    flex-grow: 1;
}
.section1 .section1-top .section1-top-right .section1-top-right-p{
    width: 400px;
    height: 40px;
    margin-top: 40px;
    margin-left: 40px;

}
.section1 .section1-top .section1-top-right .section1-top-right-p p{
    color: rgb(76, 252, 15);
    animation: panimation 1.5s forwards;
}
.section1 .section1-top .section1-top-left .section1-left-child1-h1 h1{
    animation: panimation 1.5s forwards;
}
.section1 .section1-left-mainh1 h1{
    animation: panimation 1.5s forwards;
}

@keyframes panimation {
    from{
        transform: translateY(50%);
        opacity: 0;

    }
    to{
        transform: translateY(0);
        opacity: 1;
    }   
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width:596px) {
    .common-footer-child1{
        width: 100%;
        min-width: 300px;
    }
    .common-footer-child1 form{
        width: 100%;
        margin-left: 0;
    }
    .common-footer-child2 p{
        margin-left: 0;
    }
    .common-footer-child2 a{
        margin-left: 0;
    }
    .common-footer-child2{
        height: 30vh;
         border-top: 1.5px solid rgb(76, 252, 15);
    }


}
@media screen and (max-width: 390px) {
        .section1 .section1-left-mainh1 {
        margin-left: 0;
        margin-top: 30px;
    }
    .section1 .section1-top .section1-top-left .section1-left-child1-img{
        margin-left: 0;
        margin-top: 70px;
    }
    .section1 .section1-top .section1-top-left{
        width: 280px;
    }
    .section1 .section1-top .section1-top-left .section1-left-child1-h1 h1{
        font-size: 30px;
        width: 180px;
        margin-top: 70px;
    }
    .section1 .section1-top .section1-top-right .section1-top-right-p{
        margin-left: 10px;
    }
    .section4 .section4-parent:nth-child(2) h1{
        font-size: 22px;
    }
    .section4 .section4-parent:nth-child(3) h1{
        font-size: 22px;
    }
    .section4 .section4-parent:nth-child(4) h1{
        font-size: 22px;
}
}
@media screen and (max-width:755px) {
    .section1 .section1-top .section1-top-left{
        border: none;
        min-width: 290px;
    }
    .section1 .section1-top .section1-top-right{
        border: none;
        min-width: 290px;

    }
    
}